@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@*<p></p>*@

<div class="container-fluid bg-1 text-center">

    <h3 class="margin">Checkout Successfully!</h3>
    <img src="https://images.unsplash.com/photo-1547892072-4d48ce26d8d8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80" class="img-responsive margin" style="width:100%" alt="Image">
</div>